.card-container{
    box-shadow: 0 3px 8px 5px rgba(0, 0, 0, 0.151);
    max-width: 300px;
    margin-bottom: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card-container img{
    width: 90%;
    height: 250px;
    padding: 10px;
    transition: all .1s;
}

.card-container img:hover{
    transform: scale(1.1);
    transition: all .1s;
}

.card-container h3{
    font-weight: bold;
    font-size: 150%;
}