.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.counter button{
    padding: 1px;
    border: none;
    background-color: rgba(0, 0, 0, 0.774);
    color: white;
    border-radius: 5px;
    width: 15%;
    margin: 10px;
    font-size: 18px;
}

.counter span{
    font-size: 20px;
}